#[auto_speed]
#[include shell_command.cfg]
[exclude_object]
#[include fluidd.cfg]
[include ./Macros/Eddy_macro.cfg]
[include mainsail.cfg]
#[include ./Macros/BTT_EBB_2209.cfg]
#[include ./Macros/BTT_EBB_36.cfg]
#[include ./Macros/BTT_Eddy.cfg]
#[include ./Macros/sensorless.cfg]
[include ./Macros/bed_mesh.cfg]
#[include ./Macros/Rainbow Barf Led.cfg]
[include ./Macros/neo.cfg]
[include ./Macros/Nozzle_Clean.cfg]
[include ./Macros/OrbiterSensor.cfg]
[include ./Macros/Fan_control.cfg]
[include ./Macros/klicky-probe.cfg]
#[include ./Macros/blobifier.cfg]
#[include ./Macros/RSCS_fan.cfg]
#[include ./Macros/sound.cfg]
[include ./KAMP/Line_Purge.cfg]
[include KAMP_Settings.cfg]
[include ./Macros/Adaptive_Meshing.cfg]
[virtual_sdcard]
[include ./KAMP/Smart_Park.cfg]

# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Hotend heater pin                    [extruder] section
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Stepper Z1 enable pin                [stepper_z1] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##-------------------------------------------------------------------- 
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_190046000950534E4E313120-if00
#serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.2:1.0
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500 #374  
max_accel: 8000 #12500            #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0    

[gcode_macro idle_timeout]
gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
 SET_IDLE_TIMEOUT TIMEOUT=10800
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.


#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: EBBCan: PB6
#endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
##--------------------------------------------------------------------
homing_speed: 40   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: ^!PG6
#driver_SGTHRS: 255 # 255 most sensitive 0 lest sensitiv


##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
##--------------------------------------------------------------------

##  Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##  Uncomment for 350mm build
position_endstop: 360
position_max: 361

##--------------------------------------------------------------------
homing_speed: 40  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PG10 
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------

##  Uncomment below for 250mm build
#position_max: 210

##  Uncomment below for 300mm build
#position_max: 260

##  Uncomment below for 350mm build
position_max: 300

##--------------------------------------------------------------------
position_min: -100
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
## Octopus 1.0 & 1.1.  Octopus PRO 1.0
enable_pin: !PA0
## Octopus PRO 1.1
#enable_pin: !PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
#[tmc2209 extruder]
#uart_pin: PE1
#interpolate: false
#run_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 0



#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 1.0
min_temp: -100
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
[probe]

#--------------------------------------------------------------------

## Select the probe port by type:
## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
pin: EBBCan: PB3
## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
#pin: PG15
## For Octopus Pro PROBE port; NPN and PNP proximity switch types can be set by jumper
#pin: ~!PC5

#--------------------------------------------------------------------

x_offset: 0
y_offset: 25.0
#z_offset: 0
speed: 10.0
samples: 1
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01
samples_tolerance_retries: 2

[temperature_sensor Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF5

#[temperature_sensor octopus]
#sensor_type: temperature_mcu
#min_temp: 10
#max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
#[fan]
#pin: PA8
#kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10

##  Hotend Fan - FAN1
#[heater_fan hotend_fan]
#pin: PE5
#max_power: 1.0
#kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Exhaust fan - FAN3
[heater_fan Hepa]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 60
fan_speed: 1.0
off_below: 0.10

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
[output_pin caselight]
##Octopus 1.0 & 1.1, Octopus PRO 1.0
pin: PB10
##Octopus PRO 1.1
#pin: PB0
pwm:true
shutdown_value: 0
value: 1.0
cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
#home_xy_position:128,350
#speed:500
#z_hop: 2


##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

#--------------------------------------------------------------------
##  Gantry Corners for 250mm Build
##  Uncomment for 250mm build
#gantry_corners:
#   -60,-10
#   310, 320
##  Probe points
#points:
#   50,25
#   50,175
#   200,175
#   200,25
    
##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build
#gantry_corners:
#   -60,-10
#   360,370
##  Probe points
#points:
#   50,25
#   50,225
#   250,225
#   250,25

##  Gantry Corners for 350mm Build
##  Uncomment for 350mm build
gantry_corners:
   -60,-10
   410,420
##  Probe points
#points:
  # 50,2
  # 50,250
  # 320,250
  # 320,2
points:
   50,25
   50,275
   300,275
   300,25

#--------------------------------------------------------------------
speed: 700
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.01000    #(Change this value to something like 0.01, then slowly decrease the value if needed)
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

##  Uncomment the display that you have
#--------------------------------------------------------------------


##  RepRapDiscount 128x64 Full Graphic Smart Controller
#[display]
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#menu_timeout: 40
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

#--------------------------------------------------------------------


##  mini12864 LCD Display
#[display]
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2
#contrast: 63
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

##  To control Neopixel RGB in mini12864 display
#[neopixel btt_mini12864]
#pin: EXP1_6
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 94b0f22aed81

[temperature_sensor EBB_Chamber]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA2

[temperature_sensor EBB_mcu_temp]
sensor_type: temperature_mcu
#sensor_pin: EBBCan
min_temp: 0
max_temp: 100

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 180, 180, 20
accel_chip: adxl345

[extruder]
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104GT-2
sensor_pin: EBBCan: PA3

##spi_bus: spi1
#spi_software_sclk_pin: EBBCan: PA5
#spi_software_mosi_pin: EBBCan: PA7
#spi_software_miso_pin: EBBCan: PA6

#rtd_nominal_r: 1000
#rtd_reference_r: 4300
#rtd_num_of_wires: 2
##control:pid
##pid_kp = 40.993
##pid_ki = 2.440
##pid_kd = 172.175
min_temp: -100
max_temp: 510
max_extrude_cross_section: 5

#[verify_heater extruder]
#heating_gain: 2
#check_gain_time:35
#hysteresis: 10
#max_error: 130

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.50
#hold_current: 0.100
#sense_resistor: 0.11
stealthchop_threshold: 999999
#driver_TBL: 0
#driver_HEND: 6
#driver_HSTRT: 7
#driver_TOFF: 4

#sensor_type:MAX31865
#sensor_pin: EBBCan: PA4
#spi_bus: spi1
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB3

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.873
#*# pid_ki = 2.601
#*# pid_kd = 356.108
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.032
#*# pid_ki = 1.043
#*# pid_kd = 96.156
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 76.8
#*# shaper_type_y = zv
#*# shaper_freq_y = 39.2
#*#
#*# [probe]
#*# z_offset = -0.700
#*#
#*# [stepper_z]
#*# position_endstop = -7.505
#*#
#*# [bed_mesh ABS]
#*# version = 1
#*# points =
#*# 	-0.639486, -0.486986, -0.393236, -0.344487, -0.335737, -0.384487, -0.479487, -0.613237
#*# 	-0.598237, -0.453237, -0.373237, -0.324487, -0.330737, -0.378237, -0.461987, -0.593237
#*# 	-0.606987, -0.474487, -0.390737, -0.345737, -0.348237, -0.388237, -0.483237, -0.589487
#*# 	-0.624487, -0.510737, -0.410737, -0.384487, -0.369487, -0.411987, -0.489487, -0.589487
#*# 	-0.621987, -0.499487, -0.425737, -0.386987, -0.390737, -0.420737, -0.489487, -0.581987
#*# 	-0.618237, -0.488237, -0.424487, -0.374487, -0.383237, -0.421987, -0.481987, -0.563237
#*# 	-0.606987, -0.510737, -0.425737, -0.395737, -0.391987, -0.419487, -0.498237, -0.566987
#*# 	-0.558237, -0.458237, -0.383237, -0.356987, -0.364487, -0.400737, -0.468237, -0.541987
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 329.99
#*# min_y = 25.0
#*# max_y = 326.97999999999996
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	1.061895, 1.126895, 1.198145
#*# 	1.116894, 1.145644, 1.149395
#*# 	1.124394, 1.134394, 1.121894
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 146.8
#*# max_x = 196.8
#*# min_y = 109.244
#*# max_y = 144.284
